.left-card1{
 
    height: 20%;
    width: 30%;
    margin-left: 0.5%;

}
.home-first-card-containeer{
    display: flex;
    justify-content: space-around;
  
    height: 25%;
    box-sizing: border-box;
    margin-top: 4px;
    padding: 2px 8%;
   

}
.left-side{
   
height: 15%;
  
   width: 40%;
}
.right-side{
    height: 15%;
    display: flex;
    flex-direction: column;
 
}
.left-card1{
   
    height: 60vh;
    width: 690px;
}
.left-card2{
    height: 29vh;
    width: 350px;
}
.left-card3{
    height: 29vh;
    margin-top: 2vh;
    width: 350px;
}
.sub-title{
    writing-mode: sideways-lr;
    text-align: left;
    margin-left: 15%;
    font-size: 24px;
    font-weight: 900;
}
.sub-heading-hr{
    height: 3px;
    background-color: red;
    width: 5%;
  text-align: start;
  margin: -20px 15%;
}
.the-latest-parent{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 4px;
    padding: 28px 15%;
}
.latest-one{
    /* background-color: aqua; */
    height: 390px;
    width: 32%;
    box-sizing: border-box;
    
}
.latest-card1{
 height: 210px;
 width: 310px;
}
.travel-time{
    opacity: 30%;
}
.latest-Articles{
  height: 748px;
  box-sizing: border-box;
  width: 100%;
  padding: 28px 15%;
  display: flex;
  margin-top: 4px;
  justify-content: space-between;
}
.latest-Articles-parent{
    display: flex;
    flex-direction: column;
    /* width: 70%; */
    height: 780px;
    box-sizing: border-box;
}
.articles-one{
    height: 230px;
    width: 90%;
    text-align: start;
    box-sizing: border-box;
    /* background-color: aquamarine; */
}
.advatige{
    background-color:rgb(227, 160, 160) ;
    text-align: center;
    justify-content: center;
}
.advatige-text{
   margin: 320px 50px;
}
.articles-card1{
    height: 180px;
    width: 40%;
    background-color: rgb(3, 48, 33);
}
.Articles-hr{
    height: 2px;
    width: 100%;
}
.article-image-details-parent{
    display: flex;
    width: 800px;
    box-sizing: border-box;
}
.article-image-details{
    display: flex;
    width: 400px;
    height: 100%;
    margin-left: 2%;
    flex-direction: column;
    box-sizing: border-box;
}
.top-post{
    height: 600px;
    width: 100px;
    box-sizing: border-box;
    width: 100%;
    padding: 28px 15%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.top-post-card1{
    height: 350px;
    padding-top: 240px;
    width: 700px;
}
.top-post-details-parent{
    /* text-align: start; */
    box-sizing: border-box;
    background-color: rgb(255, 230, 0);
    width: 260px;
    text-align: left;
    height: 590px;
}
.top-post-hr{
    width: 40px;
 
    margin-left: 5px;
}
.top-post-con{
    width: 100%;
   
}
.top-post-card2{
height: 100px;
width: 100%;
}
.top-post-one-data{
    width: 100%;
    padding-top: 30px;
    text-align: left;
}
.top-post-data1{
display: flex;
justify-content: space-between;
}
.top-post-count{
font-size: 32px;
margin-right: 10px;
text-align: center;
opacity: 20%;
padding-right: 20px;
}
.top-posrt-sub-con1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    height: 100px;
}
.top-post-sub1-card1{
    height: 100px;
    width: 80px;
}
.top-post-title1{
    text-align: left;
    margin-left: -1px;
}
.top-posrt-sub-con2{
width: 320%;

}
.top-post-divider3{
    width: 100%;
    margin-top: -260px;
}
.top-post-divider2{
    margin-top: 15px;
    margin-bottom: 15px;
}
.top-post-divider3{
 
    margin-bottom: 15px;
}
.latest-story-details-parent{
    height: 200px;
    /* width: 100px; */
    box-sizing: border-box;
    width: 100%;
    padding: 28px 15%;
    /* display: flex;
    justify-content: space-between; */
    margin-bottom: 10px;
}
.latest-stories-divider{
    margin-top: 35px;
}
.the-Stories-parent{
    width: 100%;
    padding: 2px 0.1%;
}
.latest-stories-divider-last{
    margin-top:-200px;
}